# **Aulas**

In [ ]:
print("Hello World!!!")

**Variáveis**

In [ ]:
idade = 30
print(idade)

idade = 27.12
print(idade)

nome = "andré"
print(nome)

**Tipos nativos**

**Tipos numéricos: inteiro(int) real(float):**

In [ ]:
preco = 1000
tipo_preco = type(preco)

print(preco)
print(tipo_preco)

juros = 0.05
tipo_juros = type(juros)

print(juros)
print(tipo_juros)

**Tipos de texto: string (str):**

In [ ]:
primeiro_nome = "Fulano"

print(primeiro_nome)
print(type(primeiro_nome))

pais = 'Brasil'

print(pais)
print(type(pais))

**Tipos lógicos: booleanos(bool):**

In [ ]:
usuario_maior_de_idade = True

print(usuario_maior_de_idade)
print(type(usuario_maior_de_idade))

**Tipo vazio (NoneType):**

In [ ]:
telefone_fixo = None

print(telefone_fixo)
print(type(telefone_fixo))

Tipos

In [ ]:
print(type(10))
print(type(10.1))
print(type(1 + 2j))

<class 'int'>
<class 'float'>
<class 'complex'>

**Exemplos**

In [ ]:
preco = 47
quantidade = 0.250

total_a_pagar = quantidade * preco
print(total_a_pagar)

In [ ]:
a = 3
b = 2

c = a / b
print(c)
print(type(c))

d = a // b
print(d)
print(type(d))

**Coversão**

Podemos coverter os tipos numéricus entre si utilizando o método nativo int, float e complex:

In [ ]:
print(int(3.9))

In [ ]:
print(float(10))

In [ ]:
print(complex(1))

**Revistando a motivação**

Ticket médio diário do dia 19/01.

In [ ]:
valorTotal_19 = 153.98
qtdVendas_19 = 3
tktMedio_19 = valorTotal_19 / qtdVendas_19
print(tktMedio_19)

Ticket médio diário do dia 20/01.

In [ ]:
valorTotal_20 = 337.01
qtdVendas_20 = 7
tktMedio_20 = valorTotal_20 / qtdVendas_20
print(tktMedio_20)

Ticket médio diário do dia 23/01.

In [ ]:
valorTotal_23 = 295.33
qtdVendas_23 = 5
tktMedio_23 = valorTotal_23 / qtdVendas_23
print(tktMedio_23)

Ticket médio

In [ ]:
tkt = (tktMedio_19 + tktMedio_20 + tktMedio_23) / 3
print(tkt)

**Strings**

Motivação

In [ ]:
# Empresa 1
lat = '-22.005320'
lon = '-47.891040'

# Empresa 2
latlon = '-22.005320;-47.891040'

Jogo da Forca

In [ ]:
import random
from google.colab import output
def get_random_word():
  words = ["programação", "banana", "cachorro", "professor", "disputa", "carro", "careca", "lua", "python", "codigo"]
  return random.choice(words)

def play_game():
  word = get_random_word()
  guessed = ["_"]*len(word)
  guessed_letters = []
  guessed_words = []
  tries = 6

  while tries > 0 and "_" in guessed:
    print(f"\nVocê tem {tries} tentativas restantes.")
    print(f"Você acertou as seguintes letras: {' '.join(guessed_letters)}")
    print(f"Você já chutou as seguintes palavras: {' '.join(guessed_words) }")
    print(f"Palavra: {' '.join(guessed)}")
    print("\nAdivinhe a letra ou uma palavra: ")

    guess = input().lower()
    output.clear()

    if(not guess.isdigit() and guess.isalpha()):
      if guess in guessed_letters or guess in guessed_words:
        print("\nVocê já fez esse chute! 🧠❌")
      elif len(guess) == 1 and guess in word:
        guessed_letters.append(guess)
        for i in range(len(word)):
          if(guess == word[i]):
            guessed[i] = guess
      elif len(guess) > 1 and guess.isalpha() and guess not in guessed_words:
        guessed_words.append(guess)
        if(guess == word):
          #guessed é um array de caracteres, a função list transformará "word" também em um array de caracteres, assim temos 2 arrays de caracteres
          #sendo comparados
          guessed = list(word)
        else:
            tries -= 1
      else:
        tries -= 1
    else:
      print("Você é burro🧠🐵")

  if tries == 0:
    print(f"\nSuas tentativas acabaram! A palavra era: {word}")
  elif("_" not in guessed):
    print(f"Parabéns, você acertou🥳! A palavra era: {word}")

def start_new_game():
  print(f"\n{('='*27)}")
  print("Bem vindo ao jogo da forca!")
  print("="*27)
  play_game()

  while input("\nQuer jogar novamente? (sim/não): ").lower() in ["sim", "ss", "s"]:
    play_game()

start_new_game()

Class list

In [ ]:
idade = 20
saldo_em_conta = 723.15
usuario_loggedin = True

usuario_web = ['André Perez', idade, 'andré.perez', 'andre123', 'andreperez@gmail.com', saldo_em_conta, usuario_loggedin]

print(usuario_web)
print(usuario_web[5])
print(type(usuario_web))

Diferença entre list(Lista) e set(Conjunto)

In [ ]:
frutas1 = ['banana', 'maca', 'uva', 'uva'] #As operações da estrutura do tipo list são: +(soma)
frutas = {'banana', 'maca', 'uva', 'uva'} #As operações da estrutura do tipo set são: -(diferença) - ele não repete a mesma palavra

print(frutas1)
print(type(frutas1))

print(frutas)
print(type(frutas))

Países da europa.

In [ ]:
norte_europa = {'reino unido', 'suecia', 'russia', 'noruega', 'dinamarca'}
escandinavia = {'noruega', 'dinamarca', 'suecia'}

norte_europa_nao_escadivano =  norte_europa - escandinavia
print(norte_europa_nao_escadivano)

Conjuntos

In [ ]:
cursos = {'Exatas', 'Humanas', 'astronomia', 'Biológicas'}
print(cursos)

#inserir um elemento no conjunto: set.add(val)
cursos.add('Saúde')
print(cursos)

# remove um elemento no conjunto: set.remove(val)
cursos.remove('Saúde')
print(cursos)

Conversão - Podemos coverter conjuntos para lista e vice e versa.

In [ ]:
times_paulista ={'São Paulo', 'Palmeiras', 'Santos', 'Corinthians'}

#print(list(times_paulista))
lista_times = list(times_paulista)
print(lista_times)
#print(type(list(times_paulista)))

Armazenam sequências no formato chave-valor.São do tipo dict.

In [ ]:
brasil = {'capital': 'Brasília', 'idioma': 'Português', 'população': 210}

print(brasil)
print(type(brasil))

Não permite chaves duplicadas.

In [ ]:
carro = {
    'marca': 'Volkswagen',
    'modelo': 'Golf',
    'ano': 2021,
    'ano': 2004
}

print(carro)

{'marca': 'Volkswagen', 'modelo': 'Golf', 'ano': 2004}

Podemos criar dicionários compostos:

In [ ]:
cadastro = {
    'andre':{
        'nome': 'Andre Perez',
        'ano_nascimento': 1992,
        'pais': {
            'pai':{
                'nome': '<nome-do-pai> Perez',
                'ano_nascimento': 1971
            },
            'mae': {
                'nome': '<nome-da-mae> Perez',
                'ano_nascimento': 1973
            }
        }
    }
}

print(cadastro)

{'andre': {'nome': 'Andre Perez', 'ano_nascimento': 1992, 'pais': {'pai': {'nome': '<nome-do-pai> Perez', 'ano_nascimento': 1971}, 'mae': {'nome': '<nome-da-mae> Perez', 'ano_nascimento': 1973}}}}

Elementos são acessados pela sua chave.

In [ ]:
credito = {'123': 750, '789': 980}

score_123 = credito['123']
score_789 = credito['789']

print(score_123)
print(score_789)

750
980

Elementos são atualizados pela sua chave.

In [ ]:
credito['123'] = 435
print(credito)

Para adicionar um novo elemento, basta criar um novo elemento chave-valor:

In [ ]:
credito['456'] = 1000
print(credito)

São métodos nativos dp python que nos ajudam a trabalhar no dia com o dicionário

In [ ]:
artigo = dict(
    titulo = 'Modilo 2 | Python: Estrutura de Dados',
    corpo = 'Topicos, Aulas, Listas, Conjuntos, Dicionários, ...',
    total_caracteres = 1530
)

print(artigo)
print(artigo['titulo'] + "\n" + artigo['corpo'])

{'titulo': 'Modilo 2 | Python: Estrutura de Dados', 'corpo': 'Topicos, Aulas, Listas, Conjuntos, Dicionários, ...', 'total_caracteres': 1530}
Modilo 2 | Python: Estrutura de Dados
Topicos, Aulas, Listas, Conjuntos, Dicionários, ...

In [ ]:
# adcionar/atualizar um elemento pelo chave-valor: dict.update(dict)
print(artigo)
artigo.update({'total_caracteres': 1270})
print(artigo)

artigo['total_caracteres'] = 7850
print(artigo)

{'titulo': 'Modilo 2 | Python: Estrutura de Dados', 'corpo': 'Topicos, Aulas, Listas, Conjuntos, Dicionários, ...'}
{'titulo': 'Modilo 2 | Python: Estrutura de Dados', 'corpo': 'Topicos, Aulas, Listas, Conjuntos, Dicionários, ...', 'total_caracteres': 1270}
{'titulo': 'Modilo 2 | Python: Estrutura de Dados', 'corpo': 'Topicos, Aulas, Listas, Conjuntos, Dicionários, ...', 'total_caracteres': 7850}

In [ ]:
#remover um elemento pelo chave: dict.pop(key)
print(artigo)
total_caracteres = artigo.pop('total_caracteres')
print(artigo)

Conversão - Podemos coverter dicionário para lista e vice e versa.

In [ ]:
chaves = list(artigo.keys())

print(chaves)
print(type(chaves))

In [ ]:
valores = list(artigo.values())

print(valores)
print(type(valores))

In [ ]:
wifi_disponiveis = []

In [ ]:
rede = {'nome': 'rede1', 'senha': 'cnx_cnx'}
wifi_disponiveis.append(rede)

In [ ]:
rede = {'nome': 'uai-fi', 'senha': 'r3d3'}
wifi_disponiveis.append(rede)

In [ ]:
print(wifi_disponiveis)

if / else

Estrutura de alteração de fluxo lógico do código, avalia um valor booleano ou uma

if <booleano / comparação lógica> == True:
  <execute este código>

else:
  <senão execute este código>

In [ ]:
if False:
  print("Verdadeiro")
else:
  print("Falso")

**Exemplo**: Código de seguraça de um cartão de crédito

In [ ]:
codigo_de_seguranca = '291'
codigo_de_seguranca_cadastro = '010'

#cod_a = '291'
#cod_b = '010'

#print(cod_a == cod_b)

pode_efetuar_pagamento = codigo_de_seguranca == codigo_de_seguranca_cadastro
print(pode_efetuar_pagamento)

In [ ]:
if pode_efetuar_pagamento:
  print("Pagamento efetuado")
else:
  print("Erro: Código de segurança inválido")

In [ ]:
if codigo_de_seguranca == codigo_de_seguranca_cadastro:
  print("Pagamento efetuado")
else:
  print("Erro: Código de segurança inválido")

**Exemplo**: Código de seguraça de um cartão de crédito

In [ ]:
codigo_de_seguranca = '852'
codigo_de_seguranca_cadastro = '852'

senha = '7783'
senha_cadatro = '7793'

In [ ]:
if (codigo_de_seguranca != codigo_de_seguranca_cadastro) | (senha != senha_cadatro):
  #False                             True
  print("Erro: Pagamento não efetuano")
else:
  print("Pagamento efetuado")

if / elif / else

Podemos também avaliar múltipla condições.

if <1º booleano / 1ª comparação lógica> == True:
  <execute este código se a primeira condição for verdadeira>
elif <2º booleano / 2ª comparação lógica> == True:
  <execute este código se a segunda condição for verdadeira>
else:
  <senão execute este código>

In [ ]:
codigo_de_seguranca = '802'
codigo_de_seguranca_cadastro = '852'

senha = '7783'
senha_cadatro = '7783'

In [ ]:
if (codigo_de_seguranca == codigo_de_seguranca_cadastro) & (senha == senha):
  print("Pagamento efetuado")
elif (codigo_de_seguranca != codigo_de_seguranca_cadastro) & (senha == senha):

In [ ]:
preco = 132.85
pessoas = 0

try:
  valor_por_pessoa = preco / pessoas
  print(valor_por_pessoa)
except ZeroDivisionError:
  print('Número de pessoas inválido. ' + 'Espera-se um valor maior que 0 ' +
        'e obteve-se um valor igual a ' + str(pessoas))

In [ ]:
anos = [2019, 2020, 2021, 2022, 2023]

try:
  ano_atual = anos[3]
  print(ano_atual)
except Exception:
  print('Lista de anos é manor que o valor escolhido.'+
        ' Espera-se um valor entre 0 e ' +
        str(len(anos) - 1))

In [ ]:
anos = [2019, 2020, 2021]

try:
  ano_atual = anos[3]
  print(ano_atual)
except Exception as exc:
  print('Descrição da excepção: ' + str(exc))
  print('Tipo da exceção: ' + str(type(exc)))
  print('Lista de anos é manor que o valor escolhido.'+
        ' Espera-se um valor entre 0 e ')

In [ ]:
nome = 'Andre Perez'
idade = 19

try:
    apresentacao = 'fala pessoal, meu nome é ' + nome + ' e eu tenho ' + idade + ' anos'
    print(apresentacao)
except TypeError:
    idade = str(idade)
finally:
    print('Segunda chance')
    apresentacao = 'fala pessoal, meu nome é ' + nome + ' e eu tenho ' + idade + ' anos'
    print(apresentacao)