# **Aulas**

In [ ]:
print("Hello World!!!")

**Vari√°veis**

In [ ]:
idade = 30
print(idade)

idade = 27.12
print(idade)

nome = "andr√©"
print(nome)

**Tipos nativos**

**Tipos num√©ricos: inteiro(int) real(float):**

In [ ]:
preco = 1000
tipo_preco = type(preco)

print(preco)
print(tipo_preco)

juros = 0.05
tipo_juros = type(juros)

print(juros)
print(tipo_juros)

**Tipos de texto: string (str):**

In [ ]:
primeiro_nome = "Fulano"

print(primeiro_nome)
print(type(primeiro_nome))

pais = 'Brasil'

print(pais)
print(type(pais))

**Tipos l√≥gicos: booleanos(bool):**

In [ ]:
usuario_maior_de_idade = True

print(usuario_maior_de_idade)
print(type(usuario_maior_de_idade))

**Tipo vazio (NoneType):**

In [ ]:
telefone_fixo = None

print(telefone_fixo)
print(type(telefone_fixo))

Tipos

In [ ]:
print(type(10))
print(type(10.1))
print(type(1 + 2j))

**Exemplos**

In [ ]:
preco = 47
quantidade = 0.250

total_a_pagar = quantidade * preco
print(total_a_pagar)

In [ ]:
a = 3
b = 2

c = a / b
print(c)
print(type(c))

d = a // b
print(d)
print(type(d))

**Covers√£o**

Podemos coverter os tipos num√©ricus entre si utilizando o m√©todo nativo int, float e complex:

In [ ]:
print(int(3.9))

In [ ]:
print(float(10))

In [ ]:
print(complex(1))

**Revistando a motiva√ß√£o**

Ticket m√©dio di√°rio do dia 19/01.

In [ ]:
valorTotal_19 = 153.98
qtdVendas_19 = 3
tktMedio_19 = valorTotal_19 / qtdVendas_19
print(tktMedio_19)

Ticket m√©dio di√°rio do dia 20/01.

In [ ]:
valorTotal_20 = 337.01
qtdVendas_20 = 7
tktMedio_20 = valorTotal_20 / qtdVendas_20
print(tktMedio_20)

Ticket m√©dio di√°rio do dia 23/01.

In [ ]:
valorTotal_23 = 295.33
qtdVendas_23 = 5
tktMedio_23 = valorTotal_23 / qtdVendas_23
print(tktMedio_23)

Ticket m√©dio

In [ ]:
tkt = (tktMedio_19 + tktMedio_20 + tktMedio_23) / 3
print(tkt)

**Strings**

Motiva√ß√£o

In [ ]:
# Empresa 1
lat = '-22.005320'
lon = '-47.891040'

# Empresa 2
latlon = '-22.005320;-47.891040'

Jogo da Forca

In [ ]:
import random
from google.colab import output
def get_random_word():
  words = ["programa√ß√£o", "banana", "cachorro", "professor", "disputa", "carro", "careca", "lua", "python", "codigo"]
  return random.choice(words)

def play_game():
  word = get_random_word()
  guessed = ["_"]*len(word)
  guessed_letters = []
  guessed_words = []
  tries = 6

  while tries > 0 and "_" in guessed:
    print(f"\nVoc√™ tem {tries} tentativas restantes.")
    print(f"Voc√™ acertou as seguintes letras: {' '.join(guessed_letters)}")
    print(f"Voc√™ j√° chutou as seguintes palavras: {' '.join(guessed_words) }")
    print(f"Palavra: {' '.join(guessed)}")
    print("\nAdivinhe a letra ou uma palavra: ")

    guess = input().lower()
    output.clear()

    if(not guess.isdigit() and guess.isalpha()):
      if guess in guessed_letters or guess in guessed_words:
        print("\nVoc√™ j√° fez esse chute! üß†‚ùå")
      elif len(guess) == 1 and guess in word:
        guessed_letters.append(guess)
        for i in range(len(word)):
          if(guess == word[i]):
            guessed[i] = guess
      elif len(guess) > 1 and guess.isalpha() and guess not in guessed_words:
        guessed_words.append(guess)
        if(guess == word):
          #guessed √© um array de caracteres, a fun√ß√£o list transformar√° "word" tamb√©m em um array de caracteres, assim temos 2 arrays de caracteres
          #sendo comparados
          guessed = list(word)
        else:
            tries -= 1
      else:
        tries -= 1
    else:
      print("Voc√™ √© burroüß†üêµ")

  if tries == 0:
    print(f"\nSuas tentativas acabaram! A palavra era: {word}")
  elif("_" not in guessed):
    print(f"Parab√©ns, voc√™ acertouü•≥! A palavra era: {word}")

def start_new_game():
  print(f"\n{('='*27)}")
  print("Bem vindo ao jogo da forca!")
  print("="*27)
  play_game()

  while input("\nQuer jogar novamente? (sim/n√£o): ").lower() in ["sim", "ss", "s"]:
    play_game()

start_new_game()

Class list

In [ ]:
idade = 20
saldo_em_conta = 723.15
usuario_loggedin = True

usuario_web = ['Andr√© Perez', idade, 'andr√©.perez', 'andre123', 'andreperez@gmail.com', saldo_em_conta, usuario_loggedin]

print(usuario_web)
print(usuario_web[5])
print(type(usuario_web))

Diferen√ßa entre list(Lista) e set(Conjunto)

In [ ]:
frutas1 = ['banana', 'maca', 'uva', 'uva'] #As opera√ß√µes da estrutura do tipo list s√£o: +(soma)
frutas = {'banana', 'maca', 'uva', 'uva'} #As opera√ß√µes da estrutura do tipo set s√£o: -(diferen√ßa) - ele n√£o repete a mesma palavra

print(frutas1)
print(type(frutas1))

print(frutas)
print(type(frutas))

Pa√≠ses da europa.

In [ ]:
norte_europa = {'reino unido', 'suecia', 'russia', 'noruega', 'dinamarca'}
escandinavia = {'noruega', 'dinamarca', 'suecia'}

norte_europa_nao_escadivano =  norte_europa - escandinavia
print(norte_europa_nao_escadivano)

Conjuntos

In [ ]:
cursos = {'Exatas', 'Humanas', 'astronomia', 'Biol√≥gicas'}
print(cursos)

#inserir um elemento no conjunto: set.add(val)
cursos.add('Sa√∫de')
print(cursos)

# remove um elemento no conjunto: set.remove(val)
cursos.remove('Sa√∫de')
print(cursos)

Convers√£o - Podemos coverter conjuntos para lista e vice e versa.

In [ ]:
times_paulista ={'S√£o Paulo', 'Palmeiras', 'Santos', 'Corinthians'}

#print(list(times_paulista))
lista_times = list(times_paulista)
print(lista_times)
#print(type(list(times_paulista)))

Armazenam sequ√™ncias no formato chave-valor.S√£o do tipo dict.

In [ ]:
brasil = {'capital': 'Bras√≠lia', 'idioma': 'Portugu√™s', 'popula√ß√£o': 210}

print(brasil)
print(type(brasil))

N√£o permite chaves duplicadas.

In [ ]:
carro = {
    'marca': 'Volkswagen',
    'modelo': 'Golf',
    'ano': 2021,
    'ano': 2004
}

print(carro)

Podemos criar dicion√°rios compostos:

In [ ]:
cadastro = {
    'andre':{
        'nome': 'Andre Perez',
        'ano_nascimento': 1992,
        'pais': {
            'pai':{
                'nome': '<nome-do-pai> Perez',
                'ano_nascimento': 1971
            },
            'mae': {
                'nome': '<nome-da-mae> Perez',
                'ano_nascimento': 1973
            }
        }
    }
}

print(cadastro)

Elementos s√£o acessados pela sua chave.

In [ ]:
credito = {'123': 750, '789': 980}

score_123 = credito['123']
score_789 = credito['789']

print(score_123)
print(score_789)

Elementos s√£o atualizados pela sua chave.

In [ ]:
credito['123'] = 435
print(credito)

Para adicionar um novo elemento, basta criar um novo elemento chave-valor:

In [ ]:
credito['456'] = 1000
print(credito)

S√£o m√©todos nativos dp python que nos ajudam a trabalhar no dia com o dicion√°rio

In [ ]:
artigo = dict(
    titulo = 'Modilo 2 | Python: Estrutura de Dados',
    corpo = 'Topicos, Aulas, Listas, Conjuntos, Dicion√°rios, ...',
    total_caracteres = 1530
)

print(artigo)
print(artigo['titulo'] + "\n" + artigo['corpo'])

In [ ]:
# adcionar/atualizar um elemento pelo chave-valor: dict.update(dict)
print(artigo)
artigo.update({'total_caracteres': 1270})
print(artigo)

artigo['total_caracteres'] = 7850
print(artigo)

In [ ]:
#remover um elemento pelo chave: dict.pop(key)
print(artigo)
total_caracteres = artigo.pop('total_caracteres')
print(artigo)

Convers√£o - Podemos coverter dicion√°rio para lista e vice e versa.

In [ ]:
chaves = list(artigo.keys())

print(chaves)
print(type(chaves))

In [ ]:
valores = list(artigo.values())

print(valores)
print(type(valores))

In [ ]:
wifi_disponiveis = []

In [ ]:
rede = {'nome': 'rede1', 'senha': 'cnx_cnx'}
wifi_disponiveis.append(rede)

In [ ]:
rede = {'nome': 'uai-fi', 'senha': 'r3d3'}
wifi_disponiveis.append(rede)

In [ ]:
print(wifi_disponiveis)

if / else

Estrutura de altera√ß√£o de fluxo l√≥gico do c√≥digo, avalia um valor booleano ou uma

if <booleano / compara√ß√£o l√≥gica> == True:
  <execute este c√≥digo>

else:
  <sen√£o execute este c√≥digo>

In [ ]:
if False:
  print("Verdadeiro")
else:
  print("Falso")

**Exemplo**: C√≥digo de segura√ßa de um cart√£o de cr√©dito

In [ ]:
codigo_de_seguranca = '291'
codigo_de_seguranca_cadastro = '010'

#cod_a = '291'
#cod_b = '010'

#print(cod_a == cod_b)

pode_efetuar_pagamento = codigo_de_seguranca == codigo_de_seguranca_cadastro
print(pode_efetuar_pagamento)

In [ ]:
if pode_efetuar_pagamento:
  print("Pagamento efetuado")
else:
  print("Erro: C√≥digo de seguran√ßa inv√°lido")

In [ ]:
if codigo_de_seguranca == codigo_de_seguranca_cadastro:
  print("Pagamento efetuado")
else:
  print("Erro: C√≥digo de seguran√ßa inv√°lido")

**Exemplo**: C√≥digo de segura√ßa de um cart√£o de cr√©dito

In [ ]:
codigo_de_seguranca = '852'
codigo_de_seguranca_cadastro = '852'

senha = '7783'
senha_cadatro = '7793'

In [ ]:
if (codigo_de_seguranca != codigo_de_seguranca_cadastro) | (senha != senha_cadatro):
  #False                             True
  print("Erro: Pagamento n√£o efetuado")
else:
  print("Pagamento efetuado")

if / elif / else

Podemos tamb√©m avaliar m√∫ltipla condi√ß√µes.

if <1¬∫ booleano / 1¬™ compara√ß√£o l√≥gica> == True:
  <execute este c√≥digo se a primeira condi√ß√£o for verdadeira>
elif <2¬∫ booleano / 2¬™ compara√ß√£o l√≥gica> == True:
  <execute este c√≥digo se a segunda condi√ß√£o for verdadeira>
else:
  <sen√£o execute este c√≥digo>

In [ ]:
codigo_de_seguranca = '802'
codigo_de_seguranca_cadastro = '852'

senha = '7783'
senha_cadatro = '7783'

In [ ]:
if (codigo_de_seguranca == codigo_de_seguranca_cadastro) & (senha == senha):
  print("Pagamento efetuado")
elif (codigo_de_seguranca != codigo_de_seguranca_cadastro) & (senha == senha):

In [ ]:
preco = 132.85
pessoas = 0

try:
  valor_por_pessoa = preco / pessoas
  print(valor_por_pessoa)
except ZeroDivisionError:
  print('N√∫mero de pessoas inv√°lido. ' + 'Espera-se um valor maior que 0 ' +
        'e obteve-se um valor igual a ' + str(pessoas))

In [ ]:
anos = [2019, 2020, 2021, 2022, 2023]

try:
  ano_atual = anos[3]
  print(ano_atual)
except Exception:
  print('Lista de anos √© manor que o valor escolhido.'+
        ' Espera-se um valor entre 0 e ' +
        str(len(anos) - 1))

In [ ]:
anos = [2019, 2020, 2021]

try:
  ano_atual = anos[3]
  print(ano_atual)
except Exception as exc:
  print('Descri√ß√£o da excep√ß√£o: ' + str(exc))
  print('Tipo da excep√ß√£o: ' + str(type(exc)))
  print('Lista de anos √© menor que o valor escolhido.'+
        ' Espera-se um valor de 0 at√© 2')

try / except / finally

In [ ]:
nome = 'Andre Perez'
idade = 19

try:
    apresentacao = 'fala pessoal, meu nome √© ' + nome + ' e eu tenho ' + idade + ' anos'
    print(apresentacao)
except TypeError:
    idade = str(idade)
finally:
    print('Segunda chance')
    apresentacao = 'fala pessoal, meu nome √© ' + nome + ' e eu tenho ' + idade + ' anos'
    print(apresentacao)

Estrutura repeti√ß√£o for / in

for / in

Estrutura que permite a execu√ß√£o repetida de um bloco de c√≥digo repetidas vezes.

for variavel_temporario in cole√ß√£o:
    <execute este c√≥digo>

for / in / range

Estrutura que permite a execu√ß√£o repetida de um bloco de c√≥digo n vezes.

In [ ]:
for valor in range (6):
    print(valor)

In [ ]:
lista = [2, 4, 6, 8]

for val in lista: print(val)

In [ ]:
soma = 0

for valor in range(999, 100000):
    soma = soma + valor
    #print(soma)

print(soma)

In [ ]:
for multiplo_dois in range(2, 20, 2):
    print(multiplo_dois)

for / in / list

In [ ]:
frutas = ['maca', 'banana', 'laranja', 'uva', 'pera']

for fruta in frutas:
    print(fruta)

In [ ]:
frase = 'Fala pessoal, meu √© Andr√© Perez.'

for caracter in frase.upper():
    if (caracter == 'A') | (caracter == 'z'):
        print(f"A letra '{caracter}' est√° presente na frase.")
        
print(frase.upper())

for / in / dict

In [ ]:
credito = {'123': 750, '456': 812, '789': 980}

In [ ]:
for chave, valor in credito.items():
    print(f'Para o documento {chave}, o valor do escore de cr√©dito √© {valor}.')

In [ ]:
for chave in credito.keys():
    print(chave)
    print(credito[chave])
    print(f'Para o documento {chave}, o valor do escore de cr√©dito √© {credito[chave]}.')

In [ ]:
for valor in credito.values():
    print(valor)
    print(f'O valor do escore de cr√©dito √© {valor}, mas n√£o temos mais as chaves')

break / continue

In [ ]:
for i in range(0, 10*10*10*10*10*10):
    print(i)
    if i == 10:
        print('Encontrei o 10!')
        break

In [ ]:
numero = 3

if numero % 2 == 0:
    print(f'O numero {numero} √© par')
else:
    print(f'O numero {numero} √© impar')

In [ ]:
numeros = [361, 553, 194, 13, 510, 33, 135]

for numero in numeros:

    if numero % 2 == 0:
        print(f'O numero {numero} √© par')
        break
    else:
        print(f'O numero {numero} √© impar')

In [ ]:
numeros = [361, 553, 194, 13, 510, 33, 135]

for numero in numeros:

    if numero % 2 == 0:
        print(f'O numero {numero} √© par')
        break
    else:
        continue
        print(f'O numero {numero} √© impar')

In [ ]:
for letra in 'Jessica':
    if letra == 'i':
        continue
    print(letra)

In [ ]:
num = 0

while num < 100:
    num += 10
    if num == 60:
        continue
    print(f'N√∫mero atual: {num}')

Fun√ß√£o - Function

In [ ]:
valor_inicial, taxa_juros_anual, anos = 1000.00, 0.05, 10

valor_final = valor_inicial
for ano in range(1, anos+1):
    valor_final = valor_final * (1 + taxa_juros_anual)
valor_final = round(valor_final, 2)
print(f'Para um valor inicial de R$ {valor_inicial} e uma taxa de {taxa_juros_anual}')

valor_inicial, taxa_juros_anual, anos = 1020.00, 0.03, 10

valor_final = valor_inicial
for ano in range(1, anos+1):
    valor_final = valor_final * (1 + taxa_juros_anual)
valor_final = round(valor_final, 2)
print(f'Para um valor inicial de R$ {valor_inicial} e uma taxa de {taxa_juros_anual}')

Defini√ß√£o

def <nome>(<param 1>, <param 2>, ...):
    bloco de c√≥digo
    return <valor de retorno>

var = <nome da fun√ß√£o>(<param 1>, <param 2>, ...)

In [ ]:
def imprime(mensagem: str):
    print(mensagem)

In [ ]:
texto = 'Fala pessoal, meu nome √© Fulano Fuleiro!'

In [ ]:
imprime(texto)

Return

In [ ]:
def maiusculo(texto: str) -> str:
    text_maiusculo = texto.upper()
    return text_maiusculo

In [ ]:
nome = 'Andr√© Perez'
print(nome)

nome_maiusculo = maiusculo(nome)
print(nome_maiusculo)

#print(maiusculo(nome))

In [ ]:
def extrair_usuario_email_provedor(email: str) -> (str, str):
    email_separado = email.split(sep='@')
    usuario = email_separado[0]
    provedor = email_separado[1]
    return usuario, provedor

In [ ]:
email = 'andre.perez@gmail.com'
usuario, provedor = extrair_usuario_email_provedor(email=email)
print(usuario)
print(provedor)

Par√¢metros

Par√¢mentros s√£o valores que a passamos na chamada da fun√ß√£o.

Fun√ß√£o sem par√¢metro:

In [ ]:
def pi() -> float:
    return 3.14159265359

In [ ]:
pi = pi()
print(pi)

In [ ]:
def imprime_pi() -> None:
    print(3.14159265359)
    return None

In [ ]:
nulo = imprime_pi()
print(type(nulo))
print(f'-> {nulo}')

In [ ]:
def juros_compostos_anual(valor_inicial: float, taxa_juros_anual: float, anos: int) -> float:
    valor_final = valor_inicial
    for ano in range(1, anos+1):
        valor_final = valor_final * (1 + taxa_juros_anual)
    valor_final = round(valor_final, 2)
    print(f'Para um valor inicial de R$ {valor_inicial} e uma taxa de juros anual de {taxa_juros_anual}, em {anos} anos voc√™ ter√° R$ {valor_final}') 
    return valor_final

valor_inicial, taxa_juros_anual, anos = 1000.00, 0.05, 10
valor_final = juros_compostos_anual(valor_inicial=valor_inicial, taxa_juros_anual=taxa_juros_anual, anos=anos)

valor_inicial, taxa_juros_anual, anos = 1020.00, 0.03, 10
valor_final = juros_compostos_anual(valor_inicial=valor_inicial, taxa_juros_anual=taxa_juros_anual, anos=anos)

Escopo

Define o ciclo de vida de uma vari√°vel.

Escopo de Fun√ß√£o.

In [ ]:
def soma_lista(numeros: list) -> int:
    s = 0
    for numero in numeros:
        s = s + numero
    return s

In [ ]:
numeros = [(3 * 20), (4 * 20), (5 * 20)]
numeros=[3, 4, 5] * 20

soma = soma_lista(numeros)
print(soma)

In [ ]:
#------------ IN√çCIO FUNC√ïES ------------

def recebeNome () -> str:
    return input('Informe o seu nome:').upper()

def imprimeNomes(listaNomes: list):
    for nome in listaNomes:
        print(f'Nome {listaNomes.index(nome) + 1}: {nome}')

#------------ FIM FUNC√ïES ------------


#------------ IN√çCIO APLICA√á√ÉO ------------
listaNomes = []

while True:
    nome = recebeNome()
    if nome != 'S':
        listaNomes.append(nome)
        print(f'Ol√° {nome}')
    else:
        print('Aplica√ß√£o encerrada!')
        break

imprimeNomes(listaNomes)

Criar o Arquivo

In [ ]:
%%writefile Banco.csv
age;job;marital;education;default;balance;housing;loan
30;unemployed;married;primary;no;1787;no;no
33;services;married;secondary;no;4789;yes;yes
35;management;single;tertiary;no;1350;yes;no
30;management;married;tertiary;no;1476;yes;yes
59;blue-collar;married;secondary;no;0;yes;no
35;management;single;tertiary;no;747;no;no
36;self-employed;married;tertiary;no;307;yes;no
39;technician;married;secondary;no;147;yes;no
41;entrepreneur;married;tertiary;no;221;yes;no
43;services;married;primary;no;-88;yes;yes

with / open

comando para ler arquivos.

with open(file='<caminho do arquivo>', mode='<modo de leitura>, encoding='<decoficador>') as <apelido>:
    bloco de c√≥digo

Read

Comando para ler todo o conte√∫do de um arquivo.

In [ ]:
conteudo = None

with open(file='./Banco.csv', mode='r', encoding='utf8') as arquivo:
    conteudo = arquivo.read()

print(conteudo)

Readline

In [21]:
listaLinhas = []
with open(file='./Banco.csv', mode='r', encoding='utf8') as arquivo:
    linha = arquivo.readline()
    
    while linha: #Verfica se h√° conte√∫do na var. linha.
        listaLinhas.append(linha)
        linha = arquivo.readline()
    #print(listaLinhas)
    # print(listaLinhas[4])
    
    for linha in listaLinhas:
        print(linha)

age;job;marital;education;default;balance;housing;loan

30;unemployed;married;primary;no;1787;no;no

33;services;married;secondary;no;4789;yes;yes

35;management;single;tertiary;no;1350;yes;no

30;management;married;tertiary;no;1476;yes;yes

59;blue-collar;married;secondary;no;0;yes;no

35;management;single;tertiary;no;747;no;no

36;self-employed;married;tertiary;no;307;yes;no

39;technician;married;secondary;no;147;yes;no

41;entrepreneur;married;tertiary;no;221;yes;no

43;services;married;primary;no;-88;yes;yes

In [31]:
idades = []

with open(file='./Banco.csv', mode='r', encoding='utf8') as arquivo:
    linha = arquivo.readline()
    linha = arquivo.readline()
    
    while linha:
        linha_separada = linha.split(';')
        idade = linha_separada[0]
        idades.append(int(idade))
        linha = arquivo.readline()
print(idades)

[1787, 4789, 1350, 1476, 0, 747, 307, 147, 221, -88]

Write

Modo de escrita (w)

In [23]:
with open(file='./idades.csv', mode='w', encoding='utf8') as arquivo:
    linha = 'idade' + '\n'
    arquivo.write(linha)
    for idade in idades:
        linha = str(idade) + '\n'
        arquivo.write(linha)

Modo de acr√©scimo (a).

In [25]:
with open(file='./idades.csv', mode='a', encoding='utf8') as arquivo:
    for idade in idades:
        linha = str(idade + 100) + '\n'
        arquivo.write(linha)

In [28]:
%%writefile banco-texto.txt
age;job;marital;education;default;balance;housing;loan
30;unemployed;married;primary;no;1787;no;no
33;services;married;secondary;no;4789;yes;yes
35;management;single;tertiary;no;1350;yes;no
30;management;married;tertiary;no;1476;yes;yes
59;blue-collar;married;secondary;no;0;yes;no
35;management;single;tertiary;no;747;no;no
36;self-employed;married;tertiary;no;307;yes;no
39;technician;married;secondary;no;147;yes;no
41;entrepreneur;married;tertiary;no;221;yes;no
43;services;married;primary;no;-88;yes;yes

Writing banco-texto.txt

In [29]:
with open(file='./banco-texto.txt', mode='r', encoding='utf8') as leitura:
    with open(file='./banco-csv.csv', mode='w', encoding='utf8') as escrita:
        linha = leitura.readline()
        while linha:
            escrita.write(linha)
            linha = leitura.readline()